.notifications {
  width: 380px;
  height: 100vh;
  background-color: var(--bg-white);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 28px;
  border-left: 2px solid #e2e7ee;
  overflow: hidden;

  @media (max-width: 1024px) {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 37px;

    .search {
      background-color: var(--bg);
      height: 44px;
      // width: 100%;
      border-radius: 100px;
      display: flex;
      align-items: center;
      padding: 13px 18px;
      i {
        height: 18px;
        width: 18px;
      }
      .line {
        width: 1px;
        display: block;
        height: 100%;
        background-color: var(--bg-secondary);
        margin: 13px;
      }
      input {
        background-color: transparent;
        height: 100%;
        width: 100%;
        border: none;
        outline: 0;
      }
    }

    .bell {
      height: 44px;
      width: 44px;
      border-radius: 22px;
      background-color: var(--bg);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .bool {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: var(--red-400);
        width: 8px;
        height: 8px;
        border-radius: 4px;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .hello {
      font-size: 22px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      color: var(--bg-title);
      margin-bottom: 4px;
    }
    .name {
      font-size: 28px;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      color: var(--bg-title);
      margin-bottom: 4px;
    }
    p {
      font-size: 14px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      color: var(--bg-text);
      line-height: 18px;
    }
    .image {
      margin-left: 20px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: var(--bg-primary);
      position: relative;
      display: flex;
      align-items: center;
      img {
        position: absolute;
        bottom: -1px;
        height: 100px;
      }
    }
  }

  .reminder-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
    h2 {
      font-size: 18px;
      font-weight: bold;
      font-family: "Lato", sans-serif;
    }
    .view-all {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      color: var(--yellow-500);
      font-size: 14px;
      font-weight: bold;
      font-family: "Lato", sans-serif;
      border-bottom: 1px solid transparent;
      cursor: pointer;
      &:hover {
        border-color: var(--yellow-500);
      }
    }
  }

  .reminder-content {
    width: 100%;
    .reminder {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      .reminder-icon {
        width: 48px;
        height: 48px;
        border-radius: 15px;
        color: #f35162;
        background-color: rgb(243, 81, 98, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
      }
      .reminder-info {
        .reminder-title {
          font-size: 14px;
          font-family: "Raleway", sans-serif;
          font-weight: bold;
          color: var(--bg-title);
          margin-bottom: 8px;
        }
        .reminder-subtitle {
          font-size: 12px;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          color: var(--bg-secondary);
        }
      }
    }
  }
}

.card-pro {
  background: url("/assets/background-upgrade-pro.png") #322a7d !important;
  ::ng-deep {
    .p-card {
      width: 100%;
      background: transparent !important;
      border: none;
      box-shadow: none;
      .p-card-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
